<div layout="vertical" layout-fill layout-align="center center">

  <md-content class="md-padding">
    <section>
      <div layout="column" layout-align="center center">
        <div layout="row" layout-align="center center" layout-padding>
          <md-select ng-model="match.region" id="region-select">
          <md-select-label>{{ match.region || "Choose a Region" }}</md-select-label>
            <md-option md-no-ink ng-repeat="opt in regions" ng-value="opt">
              {{ opt }}
            </md-option>
          </md-select>
          <md-input-container flex>
            <label>Game ID</label>
            <input type="text" ng-model="match.id">
          </md-input-container>
          <md-button md-no-ink class="md-primary"
            ng-disabled="!(match.region && match.id)"
            ng-href="/#/{{ match.region }}/{{ match.id }}"
            ng-click="cfService.redrawAll()">
            Get Stats
          </md-button>
          <md-button md-no-ink class="md-primary" ng-click="showBookmarkletDialog()">
            Add Bookmarklet
          </md-button>
        </div>
        <div ng-if="showChart" layout="column" layout-align="center center">
          <div layout="row" layout-align="center center">
            Choose a Statistic:
            <div ng-repeat="stat in stats" layout-padding>
              <md-button md-no-ink class="md-raised"
               ng-class="{'md-primary': activeStat === stat }" flex
               ng-click="setChartBy(stat)">
               {{ stat }}
              </md-button>
            </div>
          </div>
          <div layout="row" layout-align="center center">
            Filter by Lane:
            <div ng-repeat="lane in laneFilters" layout-padding>
              <md-button md-no-ink ng-click="filterLane(lane)" class="md-raised"
              ng-class="{'md-primary': activeLaneFilter === lane && !isFilteredByChampion() }" flex>
                {{ lane }}
              </md-button>
            </div>
          </div>
          <div dc-chart="barChart" dc-dimension="dim.time" dc-group="1" dc-post-setup-chart="chartPostSetup.teamCs" id="team-cs-chart"></div>
          <div dc-chart="seriesChart" dc-dimension="dim.time" dc-group="1" dc-post-setup-chart="chartPostSetup.championCs" id="champ-cs-chart"></div>
        </div>
        <div ng-if="!showChart" layout="column" layout-align="center center" layout-padding>
          <md-card flex>
            To see statistics for a League of Legends match:
            <p>
            1. Enter a Match ID in the box above and click the 'Get Stats' button.
            <p>
            OR
            <p>
            2. Click the 'Add Bookmarklet' button above and follow the instructions.
          </md-card>
        </div>
      </div>
    </section>
  </md-content>

</div>
