<div layout="vertical" layout-fill layout-align="center center">

  <md-content class="md-padding">
    <section>
      <div layout="column" layout-align="center center">
        <div layout="row" layout-align="center center">
          <md-text-float class="md-primary" label="Game ID" ng-model="matchId"></md-text-float>
          <md-button md-no-ink class="md-primary" ng-href="/#/{{matchId}}" ng-click="cfService.redrawAll()">
            Get Stats
          </md-button>
          <md-button md-no-ink class="md-primary" ng-click="showBookmarkletDialog()">
            Add Bookmarklet
          </md-button>
        </div>
        <div ng-if="showChart" layout="column" layout-align="center center">
          <div layout="row" layout-align="center center">
            Choose a Statistic:
            <md-button md-no-ink class="md-secondary" ng-click="setChartBy('creepScore')">
              Creep Score
            </md-button>
            <md-button md-no-ink class="md-secondary" ng-click="setChartBy('totalGold')">
              Gold Income
            </md-button>
          </div>
          <div layout="row" layout-align="center center">
            Filter by Lane:
            <md-button md-no-ink class="md-secondary" ng-click="filterLane()">
              All
            </md-button>
            <md-button md-no-ink class="md-secondary" ng-click="filterLane('TOP')">
              Top
            </md-button>
            <md-button md-no-ink class="md-secondary" ng-click="filterLane('MIDDLE')">
              Middle
            </md-button>
            <md-button md-no-ink class="md-secondary" ng-click="filterLane('BOTTOM')">
              Bottom
            </md-button>
            <md-button md-no-ink class="md-secondary" ng-click="filterLane('JUNGLE')">
              Jungle
            </md-button>
         </div>
          <div dc-chart="barChart" dc-dimension="dim.time" dc-group="1" dc-post-setup-chart="chartPostSetup.teamCs" id="team-cs-chart"></div>
          <div dc-chart="seriesChart" dc-dimension="dim.time" dc-group="1" dc-post-setup-chart="chartPostSetup.championCs" id="champ-cs-chart"></div>
        </div>
        <div ng-if="!showChart">
          <md-card>
            To see statistics for a League of Legends match:
            <p>
            1. Enter a Match ID in the box above and click the 'Get Stats' button.
            <p>
            OR
            <p>
            2. Click the 'Add Bookmarklet' button above and follow the instructions.
          </md-card>
        </div>
      </div>
    </section>
  </md-content>

</div>
